#container0 {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    height: 75px;
    background:rgb(104, 209, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 50px Arial, sans-serif;
}

#container1 {
    position: absolute;
    top: 15%;
    bottom: 25%;
    left: 0;
    right: 0;
    width: 200px;
    /* margin-right: auto;
    margin-left: auto; */
    height: 200px;
    border-color: black;
    border-style: solid;
}

#center1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}